.feedpost{
    color: blue;
}
.message_item{
    display: flex;
   
}
.message_cont{

    border-radius: 18px;
    width: 28%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    border: 2px solid purple;
}
.message_cont img{
    margin: 15px;
    
}
.messages_scr{
    margin-left: 19px;
    border: 3px solid rgb(212, 79, 212);
    border-radius: 10px;
    width: -webkit-fill-available;
}
.message_center{
    height: 62vh;
    width: -webkit-fill-available;
    border: 3px solid rgb(71, 18, 43);

}
.message_box{
    padding: 5px;
    background: rgb(178, 111, 253);
    border-radius: 34px;
    display: flex;
}
#message_tab{
    border: none;
    width: -webkit-fill-available;
    margin: 12px;
    background: none;

}
#message_tab:focus{
    outline: none;
}